#usersContainer {
  display: block;
}

.users {
  display: inline-flex;
  width: 325px;
}

.image {
  margin-left: 8%;
}

.avatars {
  width: 75px;
  border-radius: 4px;
}

.userInfo {
  margin-top: -4%;
  margin-left: 10px;
  font-size: 10px;
}

.userLink {
  font-size: 14px;
  font-weight: bold;
  color: #0073bb;
  text-decoration: none;
}

.userLink:hover {
  text-decoration: underline;
}

.userLoc {
  color: black;
  font-weight: bold;
  height: 6px;
  margin-top: -11px;
  font-size: 11px;
}

.userBio {
  color: grey;
  margin-bottom: 0rem;
  font-size: 12px;
  margin-top: 4px;
}

span {
  color: darkslategrey;
  font-weight: bold;
}

.userBio > .fa {
  color: #f15c00;
}

.userBio > .fa-star {
  font-size: 9px !important;
  background: #f15c00;
  border-radius: 3px;
  color: white !important;
  padding: 2px;
}

.closeModal {
  font-family: "Open Sans Condensed", sans-serif;
  position: absolute;
  right: 15px;
  top: 15px;
  margin-top: -6px;
  border-radius: 3px;
  width: 36px;
  font-size: 36px;
  text-align: center;
  color: #666;
  cursor: pointer;
  opacity: 0.5;
  z-index: 1;
}

.closeModal:hover {
  opacity: 0.7;
  background-color: #e8e8e8;
}
