#usersContainer {
  display: block;
}

.users {
  display: inline-flex;
  width: 325px;
}

.image {
  margin-left: 8%;
}

.avatars {
  width: 75px;
  border-radius: 4px;
  /* box-shadow: 0 0px 4px; */
}

.userInfo {
  margin-left: 10px;
  font-size: 10px;
}

.userLink {
  font-size: 14px;
  font-weight: bold;
  color: #0073bb;
  text-decoration: none;
}

.userLink:hover {
  text-decoration: underline;
}

.userLoc {
  color: black;
  font-weight: bold;
  height: 6px;
}

.userBio {
  color: grey;
  margin-bottom: 0rem;
  font-size: 12px;
}

span {
  color: darkslategrey;
  font-weight: bold;
}

#icons {
  color: #f15c00;
  text-shadow: 0 1px 1px black;
}

/* .listOfLinks {
  visibility: hidden;
}

.listOfLinks:hover {
  visibility: visible;
} */
